In [1]:
import pandas as pd
# from api_methods import *
from api_methods import get_chanel_stats, get_video_comments

from googleapiclient.discovery import build
from IPython.display import JSON

from config.config import YOUTUBE_API_KEY

In [2]:
# Get credentials and create an API client
api_service_name = "youtube"
api_version = "v3"

youtube = build(
    api_service_name, api_version, developerKey=YOUTUBE_API_KEY)

In [3]:
# Channels to analyze
channel_ids = [
    "UCv6jcPwFujuTIwFQ11jt1Yw", # BarisOzcan
    # Can add more channels
]

In [4]:
channel_stats = get_chanel_stats(youtube, channel_ids)

In [5]:
channel_stats

   channelName subscribers      views totalVideos                playlistId
0  BarÄ±ÅŸ Ã–zcan     6470000  840836864         771  UUv6jcPwFujuTIwFQ11jt1Yw

In [8]:
video_ids = [
    "7DFs2WifolI", # BarisOzcan - 1
]

In [9]:
# Get video comments
video_comments = get_video_comments(youtube, video_ids)
video_comments

                                                     0
0    Merhaba, Ä°Ã§eriklerinizi beÄŸerekek takip ediyor...
1                                sizi Ã§ok kÄ±skandÄ±m :)
2    AynÄ± zamanda Ä°ngilizceâ€™de Tardis sÃ¶zlÃ¼ÄŸe girmi...
3                            Sondaki aglayan melek ðŸ˜¢ðŸ˜¢ðŸ˜¢
4    ÃœrÃ¼nÃ¼n yapÄ±m atÃ¶lyesinde Ã§alÄ±ÅŸtÄ±m barÄ±ÅŸ abi Ã§o...
..                                                 ...
541                                          Ä°lk yorum
542                                               ilk.
543                                                ilk
544                                                  1
545  60 yÄ±l Ã¶nce bugÃ¼n, 23 KasÄ±m 1963&#39;te tÃ¼m za...

[546 rows x 1 columns]